# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="https://sheck-app.onrender.com"

# DATABASE_URL: PostgreSQL Connection String (Neon / Supabase / Cloud SQL)
DATABASE_URL="postgresql://neondb_owner:...@ep-falling-dust-ax08r80f-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require"

# GOOGLE_WEB_CLIENT_ID: Client ID for Google Sign-In & Credential Manager
GOOGLE_WEB_CLIENT_ID="508356323395-9bnbsorn0jcfmp1ng9b1chrngqfhqci3.apps.googleusercontent.com"

# FIREBASE_PROJECT_ID: Firebase Project for FCM & Android
FIREBASE_PROJECT_ID="sheck-236b0"
